%li{:id => "group_#{group.id}"}
  - if level == 2
    // Day option
    = radio_button_tag("conference_day_#{group.parent.id}_option", group.id, current_reader.groups.include?(group))
    = label_tag("conference_day_#{group.parent.id}_option_#{group.id}", group.name)
  - else
    = check_box_tag("group_ids[]", group.id, current_reader.groups.include?(group), :id => "group_ids_#{group.id}")
    = label_tag("group_ids_#{group.id}", group.name)

  .levy{:style => "float: right"}= number_to_currency(group.conference_price)

  .description= group.description

  - if group.children.any?
    %ul
      - group.children.each do |child|
        = render_conference_group_node child, :level => level + 1
