%li{:id => "group_#{group.id}", :data => {:day_registration_fee => group.day_registration_fee.to_i, :extra_levy => group.extra_levy.to_i}}
  - if level == 2
    // Day option
    = radio_button_tag("conference_day_#{group.parent.id}_option", group.id, @reader.conference_subscription.has_group?(group.id))
    = label_tag("conference_day_#{group.parent.id}_option_#{group.id}", content_tag(:strong, group.name))
  - else
    = check_box_tag("conference_subscription[group_ids][]", group.id, @reader.conference_subscription.has_group?(group.id), :id => "group_ids_#{group.id}")
    = label_tag("group_ids_#{group.id}", content_tag(:strong, group.name))

  .levy{:style => "float: right"}= number_to_currency(group.conference_price)

  .description= group.description

  - if group.children.any?
    %ul
      - group.children.each do |child|
        = render_conference_group_node child, :level => level + 1
