.details{:style => "float: right;"}
  %h3 Your details

  %p
    -cols = %w[nzffa_membership_id email phone mobile fax organisation notes description post_line1 post_line2 region postcode post_organisation post_city post_province post_country]
    -cols.each do |col|
      %b="#{col.titleize}:"
      =current_reader[col]
      %br

%h2 Conference options

- form_for @subscription do |f|
  = f.hidden_field :reader_id
  = f.radio_button :single_or_couple, 'single', {:style => "margin-left: 15px"}
  = f.label :single_or_couple_single, 'Single'
  = f.radio_button :single_or_couple, 'couple', {:style => "margin-left: 15px"}
  = f.label :single_or_couple_couple, 'Couple'
  
  %br
  
  = f.text_field :partner_name, :placeholder => "Your partner's name", :class => 'partner'
  
  %br
  
  %ul#conference_options{:style => "width: 500px; padding-left: 15px"}
    = render_conference_group_node(conference_group, :f => f)
    %li{:style => "text-align: right; list-style: none"}
      TOTAL:
      %span.total
        
  = f.text_area :notes, :placeholder => "Please enter any special dietary requirements, your Conference residence and next of kin"
  %br
  
  %br
  
  %label{:for => 'conference_subscription_do_not_publish_contact_details'}
    = f.check_box :do_not_publish_contact_details
    "Please tick here if you DO NOT want your contact details printed in the conference proceedings"
  
  %br
  
  %label{:for => 'conference_subscription_first_conference'}
    = f.check_box :first_conference
    Is this your first conference?
  
  %br
  %label{:for => 'pickup_from_incoming_flight'}
    Would you like to be met at the airport from your incoming flight? If so, please enter your arrival time and flight:
    %br
    = f.text_field :pickup_from_incoming_flight
    
  
  %br
  %label{:for => 'pickups_from_to_conference'}
    If you want to be picked up and dropped off from Conference, please enter where you will be staying:
    %br
    = f.text_field :pickups_from_to_conference
  
  %br
  
  = f.hidden_field :payment_method, :value => 'online'
  
  = f.submit 'Register', :onclick => "return checkRadios()"

%script{:src => "/javascripts/extensions/conference/conference_groups.js"}