.details{:style => "float: right;"}
  %h3 Your details

  %p
    -cols = %w[nzffa_membership_id email phone mobile fax organisation notes description post_line1 post_line2 region postcode post_organisation post_city post_province post_country]
    -cols.each do |col|
      %b="#{col.titleize}:"
      =current_reader[col]
      %br

%h2 Conference options

- form_for @conference_subscription do |f|
  = f.hidden_field :reader_id
  = f.radio_button :single_or_couple, 'single'
  = f.label :single_or_couple_single, 'Single'
  = f.radio_button :single_or_couple, 'couple'
  = f.label :single_or_couple_couple, 'Couple'
  
  %ul#conference_options{:style => "width: 500px"}
    = render_group_node(conference_group, :f => f)
    %li{:style => "text-align: right"}
      TOTAL:
      %span.total
        
  Payment method:
  
  =f.submit 'Register'

:javascript
  $("#conference_options").tristate()
  updateTotal()
  $("ul#conference_options input").change(function(){updateTotal()})
  
  function updateTotal(){
    var total = 0
    var total_cell = $("ul#conference_options li").last().children(".total")
  
    $("ul#conference_options li").first().each(function() {
  
      if($(this).children("input:checked").size() > 0){
        // full conference, don't bother digging
        price = parseInt( $(this).children(".levy").first().text().split("$")[1] );
        $(total_cell).html("$ " + price)
      }
      else{
        $("#conference_options ul li input:checked").each(function() {
          price = parseInt( $(this).parent().children(".levy").first().text().split("$")[1] );
            if($.isNumeric(price)){
              total += price
            }
            // else{
            //   $(this).parent.children("ul li ")
            //   // See if we can derive price from our child groups
            // }

        });
        $(total_cell).html("$ " + total)
      }
    })
  }
  