<link href='/stylesheets/normalize.css' rel='stylesheet' type='text/css'>
<link href='/css/subscription-form.css' rel='stylesheet' type='text/css'>
<style>
  /*<![CDATA[*/
    .price {
      text-align: right;
      padding-right: 10px;
    }
    b.check-your-details {
      text-decoration: underline;
    }
  /*]]>*/
</style>

<div class='section'>
<table style='width: 100%'>
<tr class='header'>
<td>
<div class='nzffa-logo-box'>
<img alt="Nzffa_print_logo" class="nzffa-logo" src="/images/admin/nzffa_print_logo.png" />
</div>
<h2>New Zealand Farm Forestry Association (Inc)</h2>
<h1>
Conference subscription acknowledgement / Tax Invoice
</h1>
</td>
<td class='nzffa-address'>
National Office
<br>
PO Box 10349
<br>
The Terrace
<br>
Wellington 6143
<br>
New Zealand
</td>
<td class='nzffa-contact-details'>
Tel +64 4 472 0432
<br>
Fax +64 4 473 6904
<br>
admin@nzffa.org.nz
<br>
www.nzffa.org.nz
<br>
GST# 76-367-043
</td>
</tr>
</table>
</div>
<div class='section'></div>
<table style='width: 100%'>
<tr>
<td style='width: 70%'>
  <strong>Please check your details and advise if there are any errors to the Registrar's email.</strong><br />
  <p>
    <%= @subscription.reader.forename %> <%= @subscription.reader.surname %><br />
    <%= @subscription.reader.postal_address.compact.join('<br/>') %><br />
  </p>
</td>
<td class='price' style='width: 30%'> </td>
</tr>
<% parser = Radius::Parser.new(PageContext.new(Page.root), :tag_prefix => 'r') # To help us respect <r:hide /> below
 @subscription.reader.groups.select{|g| g.is_conference_group? && !g.is_conference_day_option?}.each do |group| %> 
  <tr>
    <td><b><%= parser.parse group.name %></b></td>
    <td class="price"> </td>
  </tr>
  <% @subscription.reader.groups.select{|g| g.is_conference_day_option? && g.parent == group}.each do |day_option| %>
    <tr>
      <td colspan="2" style="padding-left: 12px">Your choice:</td>
    </tr>
    <tr>
      <td style="padding-left: 12px"><b><%= parser.parse day_option.name %></b></td>
      <td class="price"> </td>
    </tr>
  <% end %>
<% end %>

<tr>
<td class='subtotal price'>
  <b>GST Inclusive Total:</b>
</td>
<td class='price'><%= number_to_currency @subscription.paid_amount %></td>
</tr>
<tr>
<td>Tax invoice C<%= @subscription.created_at.strftime("%Y") %>-<%= @subscription.reader.nzffa_membership_id%><br/>
  GST No. 076-367-043<br/>
  Paid at <%= @subscription.paid_at.strftime("%d %b %Y") %>
</td>
<td></td>
</tr>

<tr>
  <td>
    <%= "This is your first conference." if @subscription.first_conference %>
    <%= "<br />You will be staying at #{@subscription.pickups_from_to_conference}" if @subscription.pickups_from_to_conference %>
    <%= "<br />Your arrival time and flight, for pickup from the airport: #{@subscription.pickup_from_incoming_flight}" if @subscription.pickup_from_incoming_flight %>
    <%= "<br />You DO NOT want your contact details printed in the conference proceedings" if @subscription.do_not_publish_contact_details %>
    <br/>
    Dietary requirements and next of kin:<br/>
    <%= @subscription.notes %>
  </td>
  <td>
    
  </td>
</tr>
</table>
<div class='page-break'></div>
