- if @group == conference_group
  - @conference_subscription = @reader.conference_subscription || @reader.build_conference_subscription
  
  %h2 Conference registration for #{@reader.name}

  - form_for @conference_subscription do |f|
    = f.hidden_field :reader_id
    = f.radio_button :single_or_couple, 'single'
    = f.label :single_or_couple_single, 'Single'
    = f.radio_button :single_or_couple, 'couple'
    = f.label :single_or_couple_couple, 'Couple'
  
    %ul#conference_options{:style => "width: 500px"}
      = render_conference_group_node(conference_group, :f => f)
      %li{:style => "text-align: right"}
        TOTAL:
        %span.total
    
    = f.text_area :notes, :placeholder => "Please enter any special requirements here"
    
    Payment method:
    = f.select :payment_method, ["cheque", "direct-debit", "online"]
    %br
    = f.label :paid_amount, "Paid amount"
    = f.text_field :paid_amount
    %br
    = f.submit 'Save conference subscription', :onclick => "return checkRadios()"
  
  %script{:src => "/javascripts/extensions/conference/conference_groups.js"}

- else

  %h2 Update Member Details

  - form_for @reader, :url => "/branch_admin/#{params[:group_id]}/update/#{@reader.nzffa_membership_id}" do |f|
    = render :partial => 'form', :locals => {:f => f}
